[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coveralls = "*"
unittest-xml-reporting = "*"
flake8 = "*"
flake8-isort = "*"
flake8-quotes = "*"

[packages]
dj-database-url = "*"
djangorestframework = "*"
djangorestframework-api-key = "*"
mysqlclient = "*"
sentry-sdk = "*"
django-oauth-toolkit = "*"
django-cors-middleware = "*"
django = "*"
pyyaml = "*"
uwsgi = "*"
uritemplate = "*"
shortener = "*"
codecov = "*"

[requires]
python_version = "3.7"
