<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Penn Labs Platform</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-light is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title has-text-weight-bold">
            Welcome.
          </h1>
          <h2 class="subtitle">
            This is the <strong>Labs Platform</strong>, an interface for the organization's:
          </h2>
          <div class="content">
            <ol type="1">
              <li>Accounts Engine</li>
              <li>Engagement Infrastructure</li>
              <li>Cross-Product Data</li>
              <li>Organizational Information</li>
            </ol>
            <br />
            <a class="button is-info" href="https://github.com/pennlabs/platform">View Data</a>
            <a class="button" href="https://github.com/pennlabs/platform">Source</a>
          </div>
        </div>
      </div>
    </section>
    <section class="hero is-info is-small">
      <div class="hero-body">
        <div class="container">
          <p> Made with
            <span class="icon is-small" style="color:#F56F71"><i class="fa fa-heart"></i></span>
            by Penn Labs
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
