[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==23.10.1"
unittest-xml-reporting = "*"
flake8 = "*"
flake8-isort = "*"
isort = "<5"
flake8-quotes = "*"
django-debug-toolbar = "*"
django-extensions = "*"
flake8-absolute-import = "*"
tblib = "*"
coverage = "*"

[packages]
dj-database-url = "*"
djangorestframework = "*"
djangorestframework-api-key = "*"
psycopg2 = "*"
sentry-sdk = "*"
django-oauth-toolkit = "*"
django-cors-headers = "*"
django = "*"
pyyaml = "*"
uwsgi = "*"
uritemplate = "*"
shortener = "*"
django-runtime-options = "*"
jwcrypto = "*"
oauthlib = {git = "https://github.com/oauthlib/oauthlib.git", ref = "f9a07c6"}
django-phonenumber-field = {extras = ["phonenumbers"],version = "*"}
django-email-tools = "*"
twilio = "*"
lxml = "*"
requests = "*"
pillow = "*"
boto3 = "*"
django-storages = "*"

[requires]
python_version = "3"
