deploy_version: 0.1.15
image_tag: latest

applications:
  - name: platform
    image: pennlabs/platform
    secret: platform
    port: 443
    ingress:
      hosts:
        - host: platform.pennlabs.org
          paths: ["/"]
    extraEnv:
      - name: DOMAIN
        value: platform.pennlabs.org
      - name: DJANGO_SETTINGS_MODULE
        value: Platform.settings.production
    secretMounts:
      - name: platform
        item: SHIBBOLETH_CERT
        path: "/etc/shibboleth/sp-cert.pem"
      - name: platform
        item: SHIBBOLETH_KEY
        path: "/etc/shibboleth/sp-key.pem"
