deploy_version: 0.1.20
image_tag: latest

applications:
  - name: platform
    image: pennlabs/platform
    secret: platform
    port: 443
    ingress:
      hosts:
        - host: platform.pennlabs.org
          paths: ["/"]
      annotations:
        ingress.kubernetes.io/protocol: http
    extraEnv:
      - name: DOMAIN
        value: platform.pennlabs.org
      - name: DJANGO_SETTINGS_MODULE
        value: Platform.settings.production
    secretMounts:
      - name: platform
        item: SHIBBOLETH_CERT
        path: "/etc/shibboleth/sp-cert.pem"
      - name: platform
        item: SHIBBOLETH_KEY
        path: "/etc/shibboleth/sp-key.pem"

cronjobs:
  - name: clear-expired-tokens
    schedule: "0 5 * * 0"
    image: pennlabs/platform
    secret: platform
    cmd: ["python", "manage.py", "cleartokens"]
    